{% extends 'master.html' %}
{% load static %}

{% block title %}
<title>Book an Interpreter</title>
{% endblock %}

{% block extra_css %}
<link href="{% static 'css/appointment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section id="appointment" class="appointment section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>BOOK AN INTERPRETER</h2>
        <p>Facilitating communication between the deaf community and service providers with ease.</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        
        <form action="{% url 'appointment' %}" method="post" class="bg-white p-5">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn-submit">Book Interpreter</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
