{% extends 'master.html' %}

{% block content %}
<div class="container py-5">
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>My Applications</h2>
    {% if applications %}
        <ul class="list-group">
            {% for app in applications %}
                <li class="list-group-item">
                    <strong>Applied on:</strong> {{ app.created_at }}<br>
                    <strong>Status:</strong> {{ app.status }}
                </li>
                
            {% endfor %}
        </ul>
        <a href="{% url 'edit_interpreter_profile' %}" class="btn btn-outline-secondary mt-3">Update Details</a>
    {% else %}
        <p>No applications submitted yet.</p>
    {% endif %}
    </div>
</div>
    
</div>
{% endblock %}
