{% extends 'master.html' %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <h2 class="text-center">Reset Your Password</h2>
            <div class="col-md-6">
                <p class="text-center">Enter your email and we'll send you a reset link.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary w-100">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
