{% extends 'master.html' %}
{% block title %}
    <title>Video</title>
{% endblock %}
{% block content %}
    <div class="container m-5">
        <h1 class="text-center mt-3">Sign Language Recognition</h1>
        
        <div class="row gap-5 p-3">
            <div class="col-md-5">
                <img id="video_feed" src="{% url 'process_live_translation' %}" width="600px">

                
            </div>
            <div class="col-md-4 mx-auto m-5 bg-light">

                <h2>Live Translation:</h2>
                <p id="translation">Waiting for translation...</p>
                <div id="translation"></div>
            </div>
            
        </div>
    </div>

    <script>
        function fetchTranslation() {
            fetch("{% url 'get_translated_text' %}")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("translation").innerText = data.translated_sentence;
                });
        }

        setInterval(fetchTranslation, 1000);  // Update every second
    </script>
{% endblock %}