{% extends 'master.html' %}
{% block title %}
    <title>Video</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto m-5">
                <h1>Sign Language Recognition</h1>
                                <!-- Upload Image for Processing -->
                                 <form action="{% url 'process_live' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Start Live Webcam</button>
                                </form>

                                <h2>Live Translation:</h2>
                                <p id="translation">Waiting for translation...</p>
                <img id="video_feed" src="{% url 'process_live' %}" width="640px">

                <div id="translation"></div>
            </div>
        </div>
    </div>

    <script>
        function fetchTranslation() {
            fetch("{% url 'get_translated_text' %}")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("translation").innerText = data.translated_sentence;
                });
        }

        setInterval(fetchTranslation, 1000);  // Update every second
    </script>
{% endblock %}